In [ ]:
import pandas as pd 
import pyspark as ps

df = pd.read_csv("ratings.csv" )
df.head(20)

    userId  movieId  rating   timestamp
0        1        1     4.0  1225734739
1        1      110     4.0  1225865086
2        1      158     4.0  1225733503
3        1      260     4.5  1225735204
4        1      356     5.0  1225735119
5        1      381     3.5  1225734105
6        1      596     4.0  1225733524
7        1     1036     5.0  1225735626
8        1     1049     3.0  1225734079
9        1     1066     4.0  1225736961
10       1     1196     3.5  1225735441
11       1     1200     3.5  1225735861
12       1     1210     4.5  1225735210
13       1     1214     4.0  1225736426
14       1     1291     5.0  1225734809
15       1     1293     2.0  1225733842
16       1     1376     3.0  1225733539
17       1     1396     3.0  1225733534
18       1     1537     4.0  1225736687
19       1     1909     3.0  1225733717

Dobbiamo capire quante valutazioni ci sono nel dataset?

In [87]:
numratings = df['rating'].count()

print(f"Il numero totale di valutazioni è: {numratings}")

Il numero totale di valutazioni è: 33832162

Dobbiamo capire quanti film ci sono nel dataset

In [86]:
nummovie = df['movieId'].nunique()
print(f"Il numero totale di libri è: {nummovie}")

Il numero totale di libri è: 83239

Dobbiamo capire per ogni libro quante valutazioni ha ogni film

In [80]:

df.groupby('movieId')['rating'].count().head(10)

movieId
1     76813
2     30209
3     15820
4      3028
5     15801
6     31850
7     15596
8      1584
9      4563
10    34942
Name: rating, dtype: int64

Quali sono i 10 libri più valutati

In [81]:
df.groupby('movieId')['rating'].count().sort_values(ascending=False).head(10)

movieId
318     122296
356     113581
296     108756
2571    107056
593     101802
260      97202
2959     86207
527      84232
480      83026
1196     80200
Name: rating, dtype: int64

Qual è la valutazione media per ogni libro

In [82]:
df.groupby('movieId')['rating'].mean().head(10)

movieId
1     3.893508
2     3.278179
3     3.171271
4     2.868395
5     3.076957
6     3.862166
7     3.372339
8     3.118056
9     3.003178
10    3.434835
Name: rating, dtype: float64

Quali sono i 10 libri con la valutazione più alta

In [83]:
df.groupby('movieId')['rating'].mean().sort_values(ascending=False).head(10)

movieId
258505    5.0
155513    5.0
258719    5.0
258817    5.0
178251    5.0
178281    5.0
178297    5.0
178143    5.0
178135    5.0
281804    5.0
Name: rating, dtype: float64

Chi sono i recensori più critici

In [84]:
df.groupby('userId')['rating'].mean().sort_values(ascending=True).head(10).reset_index()

   userId  rating
0  279774     0.5
1  119720     0.5
2  271237     0.5
3  283799     0.5
4  130860     0.5
5  148877     0.5
6  293139     0.5
7  248160     0.5
8  289294     0.5
9   51042     0.5

Le prime 10 recensioni

In [94]:
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')
df.sort_values(by='timestamp',ascending=True).head(10)

          userId  movieId  rating           timestamp
15254009  149954     1176     4.0 1995-01-09 11:46:44
9617113    94532       21     3.0 1995-01-09 11:46:49
9617119    94532       47     5.0 1995-01-09 11:46:49
9617162    94532     1079     3.0 1995-01-09 11:46:49
16958935  166476       50     5.0 1996-01-29 00:00:00
8852243    86847       48     4.0 1996-01-29 00:00:00
8852241    86847       45     3.0 1996-01-29 00:00:00
6052035    58960       45     5.0 1996-01-29 00:00:00
6052033    58960       21     5.0 1996-01-29 00:00:00
8852238    86847       36     5.0 1996-01-29 00:00:00