# üìä Esercizi Avanzati con Pandas su CSV

Benvenuto! In questo notebook troverai **20 domande avanzate** da risolvere usando **Pandas** sul file `vendite_clienti.csv`.

Ogni domanda include:
- Descrizione del problema
- Spazio per la risposta
- Soluzione (nascosta in uno spoiler)

üí° Consiglio: prova prima a rispondere da solo prima di aprire lo spoiler!

In [ ]:
import pandas as pd

df = pd.read_csv("vendite_clienti.csv", parse_dates=["Data"])
df.head(20)

,Cliente,Data,Prodotto,Categoria,Quantit√†,Prezzo Unitario,Pagamento,Regione,Sconto
0,Camilla,2024-05-09,Smartphone,Telefonia,2,47.27,Contanti,Nord,0.10
1,Costanzo,2024-05-06,Smartphone,Telefonia,1,889.83,Contanti,Centro,0.00
2,Gaetano,2024-08-25,Laptop,Informatica,2,846.26,PayPal,Sud,0.20
3,Massimiliano,2024-05-07,Laptop,Informatica,4,1140.62,Bonifico,Sud,0.05
4,Gianfranco,2024-08-17,Tablet,Telefonia,1,330.82,PayPal,Nord,0.10
5,Piersanti,2025-02-23,Tastiera,Accessori,1,1272.77,PayPal,Nord,0.20
6,Olga,2024-08-11,Stampante,Ufficio,5,127.41,Bonifico,Centro,0.10
7,Martino,2024-11-20,Smartphone,Telefonia,3,78.28,Carta di credito,Centro,0.05
8,Olga,2024-07-11,Smartphone,Telefonia,3,576.39,Contanti,Sud,0.15
9,Massimiliano,2025-02-07,Tastiera,Accessori,1,322.17,Contanti,Centro,0.10
10,Olga,2024-04-16,Tablet,Telefonia,5,698.77,Contanti,Sud,0.10
11,Gian,2025-01-08,Laptop,Informatica,4,351.28,Bonifico,Nord,0.00
12,Gustavo,2024-09-25,Monitor,Accessori,3,1370.57,Contanti,Isole,0.20
13,Claudio,2024-10-25,Stampante,Ufficio,3,1328.18,Contanti,Centro,0.15
14,Susanna,2024-05-18,Mouse,Accessori,4,1123.05,Bonifico,Centro,0.15
15,Mariana,2025-03-24,Tablet,Telefonia,1,769.19,Carta di credito,Centro,0.00
16,Adriano,2024-08-25,Tablet,Telefonia,1,1190.20,PayPal,Isole,0.15
17,Eugenia,2024-04-30,Router,Networking,1,798.38,Bonifico,Sud,0.20
18,Iolanda,2024-10-31,Smartphone,Telefonia,1,447.32,Bonifico,Centro,0.05
19,Olga,2024-07-22,Smartphone,Telefonia,5,1307.07,Contanti,Centro,0.10

### ‚ùì Domanda 1
**Quanti prodotti unici sono stati venduti per ogni categoria?**

üëá Scrivi il codice qui sotto

In [8]:
df.groupby('Categoria')['Prodotto'].nunique()

Categoria
Accessori      3
Informatica    1
Networking     1
Telefonia      2
Ufficio        1
Name: Prodotto, dtype: int64

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df.groupby('Categoria')['Prodotto'].nunique()
```

</details>

### ‚ùì Domanda 2
**Qual √® il totale fatturato per ogni cliente, ordinato decrescentemente?**

üëá Scrivi il codice qui sotto

In [2]:
df.groupby('Cliente').apply(lambda x: ((x['Prezzo Unitario'] * x['Quantit√†']) * (1 - x['Sconto'])).sum()).sort_values(ascending=False).head()

Cliente
Massimiliano    37967.2505
Piersanti       37436.2795
Alina           35996.2005
Calogero        35759.1595
Gianpaolo       35513.6550
dtype: float64

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df.groupby('Cliente').apply(lambda x: ((x['Prezzo Unitario'] * x['Quantit√†']) * (1 - x['Sconto'])).sum()).sort_values(ascending=False)
```

</details>

### ‚ùì Domanda 3
**Quali clienti hanno speso pi√π di 1000‚Ç¨ nel trimestre Marzo-Maggio?**

üëá Scrivi il codice qui sotto

In [10]:
totali = df[(df['Data'].dt.month >= 3) & (df['Data'].dt.month <= 5)].groupby('Cliente').apply(lambda x: ((x['Prezzo Unitario'] * x['Quantit√†']) * (1 - x['Sconto'])).sum())
totali[totali> 1000]

Cliente
Adriano          7431.0175
Alfio            6822.2125
Alfredo         10453.7820
Alina            7516.0740
Amadeo           7443.8225
Annamaria        4003.6160
Bianca           3608.7020
Calogero        10241.4160
Camilla          8011.9180
Carmelo          7027.5180
Chiara           4914.5720
Claudio          5602.1200
Elladio          5671.8060
Ermanno          7271.0320
Ermes            1127.4450
Federica         9893.8600
Gaetano          8616.6975
Gian             5603.8070
Giancarlo        2991.3000
Gianfranco       5917.2060
Gianpaolo        4449.2785
Gioele           9196.7240
Giorgia          2315.9160
Guglielmo        1827.4660
Gustavo          1879.3320
Iolanda         10900.8375
Lauretta         4307.4500
Loredana         1151.5200
Lucia           13116.0800
Mariana          1807.2635
Martino          4616.9455
Massimiliano     7337.2675
Olga            12806.0190
Paloma          10802.4280
Piero            5539.1485
Piersanti       11093.6845
Ricciotti        8447.1470
Susanna         10984.8020
Toni            10421.6600
Victoria         9878.8200
dtype: float64

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df[(df['Data'].dt.month >= 3) & (df['Data'].dt.month <= 5)]\
  .groupby('Cliente')\
  .apply(lambda x: ((x['Prezzo Unitario'] * x['Quantit√†']) * (1 - x['Sconto'])).sum())\
  .query('> 1000')
```

</details>

### ‚ùì Domanda 4
**Qual √® il prodotto pi√π venduto (in quantit√†) per ogni regione?**

üëá Scrivi il codice qui sotto

In [17]:
df.groupby(['Regione', 'Prodotto'])['Quantit√†'].sum().reset_index().sort_values(['Regione','Quantit√†'], ascending=[True, False]).drop_duplicates('Regione')

   Regione    Prodotto  Quantit√†
4   Centro  Smartphone        81
12   Isole  Smartphone        57
20    Nord  Smartphone        72
29     Sud   Stampante        80

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df.groupby(['Regione', 'Prodotto'])['Quantit√†'].sum().reset_index().sort_values(['Regione','Quantit√†'], ascending=[True, False]).drop_duplicates('Regione')
```

</details>

### ‚ùì Domanda 5
**Qual √® il tasso medio di sconto per ogni modalit√† di pagamento?**

üëá Scrivi il codice qui sotto

In [23]:
df.groupby(["Pagamento"])["Sconto"].mean()

Pagamento
Bonifico            0.107851
Carta di credito    0.110331
Contanti            0.099200
PayPal              0.110150
Name: Sconto, dtype: float64

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df.groupby('Pagamento')['Sconto'].mean()
```

</details>

### ‚ùì Domanda 6
**Trova il numero di transazioni con sconto superiore al 15%**

üëá Scrivi il codice qui sotto

In [27]:
(df["Sconto"] > 0.15).sum()

118

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
(df['Sconto'] > 0.15).sum()
```

</details>

### ‚ùì Domanda 7
**Calcola il valore medio dell‚Äôordine per ogni cliente.**

üëá Scrivi il codice qui sotto

In [28]:
df.groupby('Cliente').apply(lambda x: ((x['Prezzo Unitario'] * x['Quantit√†']) * (1 - x['Sconto'])).mean())

Cliente
Adriano         1446.256167
Alfio           1759.472667
Alfredo         2094.855227
Alina           1714.104786
Amadeo          2156.867364
Amedeo          1640.476600
Annamaria       1839.510125
Bianca          1362.741000
Calogero        2979.929958
Camilla         1916.087125
Carmelo         1932.182542
Chiara          1412.047222
Claudio         1989.930556
Costanzo        1465.793571
Elladio         1848.866818
Ermanno         1536.920429
Ermes           1874.367313
Eugenia          358.743333
Federica        1690.240000
Gaetano         1607.999067
Giampiero       2122.215667
Gian            1422.149654
Giancarlo       3059.423611
Gianfranco      1578.748000
Gianpaolo       1972.980833
Gioele          1942.562333
Giorgia         1300.399200
Guglielmo       1841.377767
Gustavo         2173.997313
Ilaria          1364.790450
Iolanda         2174.215750
Lauretta        2177.604917
Loredana        2395.928154
Lucia           1780.828500
Maria           1475.603667
Mariana         2343.100400
Martino         2147.060056
Massimiliano    2711.946464
Olga            2572.675385
Paloma          2183.706250
Piero           1795.280500
Piersanti       1627.664326
Ricciotti       2025.273375
Susanna         1864.553889
Toni            2337.218450
Victoria        2044.959636
dtype: float64

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df.groupby('Cliente').apply(lambda x: ((x['Prezzo Unitario'] * x['Quantit√†']) * (1 - x['Sconto'])).mean())
```

</details>

### ‚ùì Domanda 8
**Estrai solo i clienti che hanno comprato in almeno 3 categorie diverse.**

üëá Scrivi il codice qui sotto

In [34]:
df.groupby('Cliente')['Categoria'].nunique().loc[lambda x: x >= 3]

Cliente
Alfio           3
Alfredo         4
Alina           5
Amadeo          3
Amedeo          5
Annamaria       4
Bianca          3
Calogero        4
Camilla         3
Carmelo         5
Chiara          4
Claudio         4
Costanzo        4
Elladio         5
Ermanno         5
Ermes           4
Eugenia         3
Federica        5
Gaetano         5
Gian            5
Giancarlo       4
Gianfranco      3
Gianpaolo       5
Gioele          3
Giorgia         3
Guglielmo       4
Gustavo         4
Ilaria          4
Iolanda         4
Lauretta        5
Loredana        5
Lucia           5
Maria           4
Mariana         4
Martino         4
Massimiliano    5
Olga            4
Paloma          5
Piero           4
Piersanti       5
Ricciotti       5
Susanna         5
Toni            5
Victoria        5
Name: Categoria, dtype: int64

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df.groupby('Cliente')['Categoria'].nunique().loc[lambda x: x >= 3]
```

</details>

### ‚ùì Domanda 9
**Calcola il ricavo totale per ogni mese.**

üëá Scrivi il codice qui sotto

In [35]:
df['Ricavo'] = df['Quantit√†'] * df['Prezzo Unitario'] * (1 - df['Sconto'])
df.groupby(df['Data'].dt.to_period('M'))['Ricavo'].sum()

Data
2024-03      6174.5250
2024-04     90836.4120
2024-05     82130.0695
2024-06     79575.8920
2024-07    104757.7640
2024-08     56359.7275
2024-09     68560.9860
2024-10     70539.1635
2024-11     70793.1405
2024-12     78316.7110
2025-01     83484.7175
2025-02     73445.4340
2025-03     96265.0000
Freq: M, Name: Ricavo, dtype: float64

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df['Ricavo'] = df['Quantit√†'] * df['Prezzo Unitario'] * (1 - df['Sconto'])
df.groupby(df['Data'].dt.to_period('M'))['Ricavo'].sum()
```

</details>

### ‚ùì Domanda 10
**Quali 5 clienti hanno il valore medio d‚Äôordine pi√π alto nel 2024?**

üëá Scrivi il codice qui sotto

In [44]:
df_2024 = df[df['Data'].dt.year == 2024]
df_2024.groupby('Cliente')["Ricavo"].mean()
df_2024.sort_values("Ricavo", ascending=False).head(5)

,Cliente,Data,Prodotto,Categoria,Quantit√†,Prezzo Unitario,Pagamento,Regione,Sconto,Ricavo
440,Calogero,2024-08-13,Laptop,Informatica,5,1399.27,Bonifico,Nord,0.00,6996.3500
497,Massimiliano,2024-07-16,Router,Networking,5,1376.57,PayPal,Nord,0.00,6882.8500
132,Giancarlo,2024-08-27,Router,Networking,5,1447.59,Bonifico,Nord,0.05,6876.0525
432,Calogero,2024-05-08,Smartphone,Telefonia,5,1342.46,Carta di credito,Nord,0.00,6712.3000
397,Amadeo,2024-07-04,Tastiera,Accessori,5,1468.71,Bonifico,Nord,0.10,6609.1950

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df_2024 = df[df['Data'].dt.year == 2024]
df_2024.groupby('Cliente')["Ricavo"].mean()
df_2024.sort_values("Ricavo", ascending=False).head(5)
```

</details>

### ‚ùì Domanda 11
**Crea una pivot table con righe = Categoria, colonne = Mese, valori = Ricavi totali.**

üëá Scrivi il codice qui sotto

In [45]:
df["Mese"] = df['Data'].dt.to_period('M')
df.pivot_table(values='Ricavo', index='Categoria', columns='Mese', aggfunc='sum')

Mese,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01,2025-02,2025-03
Categoria,,,,,,,,,,,,,
Accessori,6174.525,19758.6085,29471.0470,34828.3565,25863.4355,18387.6070,31242.3095,22015.0435,28435.3120,45015.813,18092.6180,25059.7275,27535.6025
Informatica,NaN,10145.0015,17469.9845,6181.7230,20830.9475,11408.1960,5965.9975,6000.9375,6402.8635,5018.681,18810.1270,12318.0620,15406.4400
Networking,NaN,12183.0430,1081.5995,18195.6150,17398.2235,7265.4515,5719.2270,11089.8045,6390.5150,11215.494,779.4060,4533.0840,9559.0215
Telefonia,NaN,31041.8500,23940.3885,10684.7920,32555.3065,16061.4410,19866.0950,22766.4670,21342.5470,11530.071,28284.1915,21704.2565,31991.3375
Ufficio,NaN,17707.9090,10167.0500,9685.4055,8109.8510,3237.0320,5767.3570,8666.9110,8221.9030,5536.652,17518.3750,9830.3040,11772.5985

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
pd.pivot_table(df, values='Ricavo', index='Categoria', columns=df['Data'].dt.month, aggfunc='sum')
```

</details>

### ‚ùì Domanda 12
**Aggiungi una colonna ‚ÄúFascia Prezzo‚Äù (Low <20‚Ç¨, Medium 20-50‚Ç¨, High >50‚Ç¨) e conta quante vendite per fascia.**

üëá Scrivi il codice qui sotto

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df['Fascia Prezzo'] = pd.cut(df['Prezzo Unitario'], bins=[0, 20, 50, float('inf')], labels=['Low', 'Medium', 'High'])\
df['Fascia Prezzo'].value_counts()
```

</details>

### ‚ùì Domanda 13
**Qual √® il giorno della settimana con pi√π ordini mediamente?**

üëá Scrivi il codice qui sotto

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df['Giorno'] = df['Data'].dt.day_name()\
df['Giorno'].value_counts()
```

</details>

### ‚ùì Domanda 14
**Quale prodotto ha il ricavo totale pi√π alto (considerando sconti)?**

üëá Scrivi il codice qui sotto

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df.groupby('Prodotto')['Ricavo'].sum().sort_values(ascending=False).head(1)
```

</details>

### ‚ùì Domanda 15
**Quali clienti hanno acquistato lo stesso prodotto in almeno 3 date diverse?**

üëá Scrivi il codice qui sotto

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df.groupby(['Cliente', 'Prodotto'])['Data'].nunique().loc[lambda x: x >= 3]
```

</details>

### ‚ùì Domanda 16
**Quanti clienti hanno effettuato almeno un acquisto in ogni trimestre dell‚Äôanno?**

üëá Scrivi il codice qui sotto

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df['Trimestre'] = df['Data'].dt.quarter\
df.groupby('Cliente')['Trimestre'].nunique().loc[lambda x: x == 4]
```

</details>

### ‚ùì Domanda 17
**Calcola la crescita mensile (%) del fatturato totale.**

üëá Scrivi il codice qui sotto

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
fatt = df.groupby(df['Data'].dt.to_period('M'))['Ricavo'].sum()\
fatt.pct_change()
```

</details>

### ‚ùì Domanda 18
**Trova la media della quantit√† ordinata per prodotto solo per ordini con sconto > 10%.**

üëá Scrivi il codice qui sotto

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df[df['Sconto'] > 0.1].groupby('Prodotto')['Quantit√†'].mean()
```

</details>

### ‚ùì Domanda 19
**Quanti ordini ha fatto ogni cliente nella sua prima settimana di attivit√†?**

üëá Scrivi il codice qui sotto

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df['Data'] = pd.to_datetime(df['Data'])\
df['FirstWeek'] = df.groupby('Cliente')['Data'].transform(lambda x: x.min() + pd.Timedelta(days=7))\
df[df['Data'] <= df['FirstWeek']].groupby('Cliente').size()
```

</details>

### ‚ùì Domanda 20
**Mostra le 3 combinazioni Prodotto + Regione con il maggior incasso medio per ordine.**

üëá Scrivi il codice qui sotto

<details>
<summary>üí° <strong>Mostra soluzione</strong></summary>

```python
df.groupby(['Prodotto', 'Regione'])['Ricavo'].mean().sort_values(ascending=False).head(3)
```

</details>