# üß† Esercizio Integrato: Analisi delle Prestazioni Studentesche

In questo esercizio lavorerai con un dataset scolastico per mettere in pratica tutte le principali funzionalit√† di Pandas.

üìÅ File da usare: `studenti_esami.csv`  
Ogni riga rappresenta un esame sostenuto da uno studente.

## Obiettivi:

1. Importare ed esplorare i dati
2. Pulire e manipolare il dataset
3. Analizzare con aggregazioni e filtri
4. Ordinare e selezionare
5. Applicare operazioni avanzate
6. Esportare i risultati

In [4]:
import pandas as pd

# Caricamento dati
# df sta per Dataframe, l'oggetto principale di Pandas
df = pd.read_csv("studenti_esami.csv")#Se bisogna mettere il percorso bisogna mettere \\ invece di una sola \ 
df.head() #propone i primi 5 record del dataframe

FileNotFoundError: [Errno 2] No such file or directory: 'studenti_esami.csv'

In [3]:
df.head(10) #Fa vedere i primi 10 record

,Studente,Classe,Materia,Data,Voto,Ore Studio,Assenze,Partecipazione
0,Anna,3A,Matematica,2023-03-10,28.0,10,2,Alta
1,Luca,3A,Fisica,2023-03-12,30.0,12,0,Media
2,Marta,3A,Matematica,2023-03-10,NaN,8,3,Bassa
3,Giovanni,3B,Chimica,2023-03-15,25.0,9,1,Alta
4,Sara,3B,Fisica,2023-03-12,22.0,11,2,Media
5,Marco,3A,Matematica,2023-03-10,19.0,5,4,Bassa
6,Elena,3B,Fisica,2023-03-12,24.0,10,1,Media
7,Franco,3A,Chimica,2023-03-15,27.0,7,0,Alta
8,Laura,3B,Matematica,2023-03-10,21.0,6,3,Bassa
9,Paolo,3A,Fisica,2023-03-12,18.0,5,5,Media

## üîç 1. Esplorazione iniziale

- Visualizza le informazioni generali
- Quali sono le colonne?
- Quali dati mancano?

In [4]:
# Info e statistica
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Studente        10 non-null     object
 1   Classe          10 non-null     object
 2   Materia         10 non-null     object
 3   Data            10 non-null     object
 4   Voto            9 non-null      float64
 5   Ore Studio      10 non-null     int64
 6   Assenze         10 non-null     int64
 7   Partecipazione  10 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 768.0+ bytes

In [5]:
df.describe(include='all')

,Studente,Classe,Materia,Data,Voto,Ore Studio,Assenze,Partecipazione
count,10,10,10,10,9.000000,10.000000,10.00000,10
unique,10,2,3,3,NaN,NaN,NaN,3
top,Anna,3A,Matematica,2023-03-10,NaN,NaN,NaN,Media
freq,1,6,4,4,NaN,NaN,NaN,4
mean,NaN,NaN,NaN,NaN,23.777778,8.300000,2.10000,NaN
std,NaN,NaN,NaN,NaN,4.116363,2.496664,1.66333,NaN
min,NaN,NaN,NaN,NaN,18.000000,5.000000,0.00000,NaN
25%,NaN,NaN,NaN,NaN,21.000000,6.250000,1.00000,NaN
50%,NaN,NaN,NaN,NaN,24.000000,8.500000,2.00000,NaN
75%,NaN,NaN,NaN,NaN,27.000000,10.000000,3.00000,NaN
max,NaN,NaN,NaN,NaN,30.000000,12.000000,5.00000,NaN

## üßº 2. Pulizia e trasformazione

- Sostituisci i valori mancanti in `Voto` con la media
- Mappa `Partecipazione`: Bassa=1, Media=2, Alta=3
- Crea una nuova colonna `Esito` (Passato se Voto ‚â• 18)

In [2]:
#Sostituisci i valori mancanti in Voto con la media

#La colonna √® df['Voto'] e il metodo √® .fillna() che cerca i valori NaN e li sostituisce con df['Voto'].mean()
#ovvero la media della colonna Voto
df['Voto'] = df['Voto'].fillna(df['Voto'].mean())
df.head()

NameError: name 'df' is not defined

In [ ]:
#Mappa Partecipazione: Bassa=1, Media=2, Alta=3
df['Partecipazione'] = df['Partecipazione'].map({'Bassa': 1, 'Media': 2, 'Alta': 3})
df.head()

NameError: name 'df' is not defined

In [9]:
#Un altro modo di scrivere le funzioni
lambda x: 'Passato' if x >= 18 else 'Non Passato'

def ciccio(x):
    if x >= 18:
        return "Passato"
    else:
        return "Non Passato"

In [10]:
#Crea una nuova colonna Esito (Passato se Voto ‚â• 18)
df['Esito'] = df['Voto'].apply(lambda x: 'Passato' if x >= 18 else 'Non Passato')
df.head()

,Studente,Classe,Materia,Data,Voto,Ore Studio,Assenze,Partecipazione,Esito
0,Anna,3A,Matematica,2023-03-10,28.000000,10,2,3,Passato
1,Luca,3A,Fisica,2023-03-12,30.000000,12,0,2,Passato
2,Marta,3A,Matematica,2023-03-10,23.777778,8,3,1,Passato
3,Giovanni,3B,Chimica,2023-03-15,25.000000,9,1,3,Passato
4,Sara,3B,Fisica,2023-03-12,22.000000,11,2,2,Passato

In [11]:
#L'importanza dell'omogeinizzazione
df.describe(include='all')

,Studente,Classe,Materia,Data,Voto,Ore Studio,Assenze,Partecipazione,Esito
count,10,10,10,10,10.000000,10.000000,10.00000,10.000000,10
unique,10,2,3,3,NaN,NaN,NaN,NaN,1
top,Anna,3A,Matematica,2023-03-10,NaN,NaN,NaN,NaN,Passato
freq,1,6,4,4,NaN,NaN,NaN,NaN,10
mean,NaN,NaN,NaN,NaN,23.777778,8.300000,2.10000,2.000000,NaN
std,NaN,NaN,NaN,NaN,3.880944,2.496664,1.66333,0.816497,NaN
min,NaN,NaN,NaN,NaN,18.000000,5.000000,0.00000,1.000000,NaN
25%,NaN,NaN,NaN,NaN,21.250000,6.250000,1.00000,1.250000,NaN
50%,NaN,NaN,NaN,NaN,23.888889,8.500000,2.00000,2.000000,NaN
75%,NaN,NaN,NaN,NaN,26.500000,10.000000,3.00000,2.750000,NaN
max,NaN,NaN,NaN,NaN,30.000000,12.000000,5.00000,3.000000,NaN

## üìä 3. Analisi e aggregazioni

- Media voti per Classe e Materia
- Assenze medie per livello di partecipazione
- Studenti con pi√π di 3 assenze e voto < 22

In [12]:
# Media voti per Classe e Materia
print(df.groupby(['Classe', 'Materia'])['Voto'].mean())

Classe  Materia
3A      Chimica       27.000000
        Fisica        24.000000
        Matematica    23.592593
3B      Chimica       25.000000
        Fisica        23.000000
        Matematica    21.000000
Name: Voto, dtype: float64

In [13]:
#Assenze medie per livello di partecipazione
print(df.groupby('Partecipazione')['Assenze'].mean())

Partecipazione
1    3.333333
2    2.000000
3    1.000000
Name: Assenze, dtype: float64

In [14]:
#Studenti con pi√π di 3 assenze e voto < 22
df[(df['Assenze'] > 3) & (df['Voto'] < 22)]

,Studente,Classe,Materia,Data,Voto,Ore Studio,Assenze,Partecipazione,Esito
5,Marco,3A,Matematica,2023-03-10,19.0,5,4,1,Passato
9,Paolo,3A,Fisica,2023-03-12,18.0,5,5,2,Passato

## üîΩ 4. Ordinamento e selezione

- Ordina gli studenti per voto decrescente
- Mostra i 3 con pi√π ore di studio

In [16]:
#Ordina gli studenti per voto decrescente
df.sort_values(by='Voto', ascending=False).head()

,Studente,Classe,Materia,Data,Voto,Ore Studio,Assenze,Partecipazione,Esito
1,Luca,3A,Fisica,2023-03-12,30.0,12,0,2,Passato
0,Anna,3A,Matematica,2023-03-10,28.0,10,2,3,Passato
7,Franco,3A,Chimica,2023-03-15,27.0,7,0,3,Passato
3,Giovanni,3B,Chimica,2023-03-15,25.0,9,1,3,Passato
6,Elena,3B,Fisica,2023-03-12,24.0,10,1,2,Passato

In [17]:
#Mostra i 3 con pi√π ore di studio
df.sort_values(by='Ore Studio', ascending=False).head(3)

,Studente,Classe,Materia,Data,Voto,Ore Studio,Assenze,Partecipazione,Esito
1,Luca,3A,Fisica,2023-03-12,30.0,12,0,2,Passato
4,Sara,3B,Fisica,2023-03-12,22.0,11,2,2,Passato
0,Anna,3A,Matematica,2023-03-10,28.0,10,2,3,Passato

## ‚öôÔ∏è 5. Operazioni avanzate

- Crea colonna `Efficienza` = Voto / Ore Studio
- Crea una tabella pivot con:
    - indice: Materia
    - colonne: Classe
    - valori: media Voto

In [21]:
#Crea colonna Efficienza = Voto / Ore Studio
df['Efficienza'] = df['Voto'] / df['Ore Studio']
df.head()

,Studente,Classe,Materia,Data,Voto,Ore Studio,Assenze,Partecipazione,Esito,Efficienza
0,Anna,3A,Matematica,2023-03-10,28.000000,10,2,3,Passato,2.800000
1,Luca,3A,Fisica,2023-03-12,30.000000,12,0,2,Passato,2.500000
2,Marta,3A,Matematica,2023-03-10,23.777778,8,3,1,Passato,2.972222
3,Giovanni,3B,Chimica,2023-03-15,25.000000,9,1,3,Passato,2.777778
4,Sara,3B,Fisica,2023-03-12,22.000000,11,2,2,Passato,2.000000

In [20]:
#Crea tabella pivot
pivot = df.pivot_table(values='Voto', index='Materia', columns='Classe', aggfunc='mean')
pivot

Classe             3A    3B
Materia
Chimica     27.000000  25.0
Fisica      24.000000  23.0
Matematica  23.592593  21.0

## üíæ 6. Esportazione finale

- Salva il DataFrame completo in CSV ed Excel

In [22]:
df.to_csv("studenti_esami_arricchito.csv", index=False)
df.to_excel("studenti_esami_arricchito.xlsx", index=False)

## ‚öôÔ∏è 7. SQL in Pandas

In [8]:
from pandasql import sqldf

# df √® un DataFrame Pandas
query = "SELECT * FROM df WHERE voto > 25"
result = sqldf(query)

ModuleNotFoundError: No module named 'pandasql'

## ‚öôÔ∏è 8. SQL in Pandas sqlite

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
df.to_sql('studenti', conn, index=False)

query = "SELECT * FROM studenti WHERE voto > 25"
result = pd.read_sql_query(query, conn)